<!DOCTYPE html>

<html>

<head>
    <title>All Players</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p id="message-1"></p>
        <div class="all-player-card"></div>
    
    </div>

    {{>footer}}

    <script id="allPlayerData" data-name = "{{body}}"   src="/js/app2.js"> </script>

</body>

</html>